* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding: 2rem;
}

.player {
  position: relative;
  width: 50vw;
  height: 40vw;
  margin: 2vw auto;
  background: url('../img/Base.png') no-repeat 50% 50%;
  background-size: cover;
}

.vinyl {
  position: relative;
  top: 1.8vw;
  display: block;
  width: 35vw;
}

.pickup {
  position: relative;
  display: block;
  width: 30vw;
  left: 1vw;
  z-index: 3;
}

.track-list {
  position: absolute;
  top: 1vw;
  right: 0.5vw;
  width: 13vw;
  padding: 0.3rem;
  border: 2px solid #555;
  border-radius: 10px;
  background-color: #75757580;
}

.track-list__item {
  list-style: none;
  /* color: #33333380; */
  color: #000;

}

.--unchosen {
  color: #33333380;
}

.buttons {
  display: grid;
  grid-template: repeat(2, 5vw)/repeat(3, 5vw);
  grid-template-areas:  ". . up-down" 
                        "prev play next"; 
  grid-gap: 0.2vw;
  position: absolute;
  bottom: 1vw;
  right: 0.5vw;
}

button {
  border-radius: 5px;
  width: 5vw;
  height: 5vw;
  font-size: 2.5rem;
  background-size: cover;
  background-repeat: no-repeat;
  outline: none;
}

button:hover {
  cursor: pointer;
}

.prev {background-image: url('../img/prevButton.png') ;  grid-area: prev;}
.play {background-image: url('../img/playButton.png') ;  grid-area: play;}
.next {background-image: url('../img/nextButton.png') ;  grid-area: next}
.mute {background-image: url('../img/mutedButton.png');  grid-area: up-down}


.--vinylaised {
  animation: vinyl-rotation infinite 3s linear;
  /* animation-delay: 1.5s; */
}

@keyframes vinyl-rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.--pickupaised {
  animation: pickup-rotation 2s linear forwards;
  transform-origin: 0 50% 0; 
}
.--unpickupaised {
  animation: pickup-reverse-rotation 2s linear forwards;
  transform-origin: 0 50% 0; 
}

@keyframes pickup-rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-18deg);
  }
}

@keyframes pickup-reverse-rotation {
  from {
    transform: rotate(-18deg);
  }
  to {
    transform: rotate(0deg);
  }
}